In [1]:
require(dplyr)
require(foreign)

Loading required package: dplyr
Warning message:
"package 'dplyr' was built under R version 3.5.3"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

Loading required package: foreign
Warning message:
"package 'foreign' was built under R version 3.5.3"

In [2]:
data = foreign::read.spss("tvida.sav", to.data.frame = TRUE)
head(data)

re-encoding from UTF-8

  Idade Sexo   ln_Tempo_vida Historia_alcool
1 50    Homem  6.543912      Uso moderado
2 39    Homem  5.998937      Uso severo
3 55    Homem  6.565265      Uso severo
4 48    Homem  5.855072      Uso severo
5 45    Homem  7.759187      Nunca usou
6 65    Mulher 5.852202      Uso moderado

In [3]:
colnames(data) = tolower(colnames(data))

In [4]:
data = data %>% mutate(sexo = ifelse(sexo == "Mulher",1, 0),
               alcool_severo = ifelse(historia_alcool == "Uso severo", 1, 0),
               alcool_moderado = ifelse(historia_alcool == "Uso moderado", 1, 0)) %>% select(-historia_alcool) %>% 
    select(ln_tempo_vida, everything())

head(data)

  ln_tempo_vida idade sexo alcool_severo alcool_moderado
1 6.543912      50    0    0             1
2 5.998937      39    0    1             0
3 6.565265      55    0    1             0
4 5.855072      48    0    1             0
5 7.759187      45    0    0             0
6 5.852202      65    1    0             1

In [5]:
modelo_1 = lm(ln_tempo_vida ~ idade + sexo + alcool_severo + alcool_moderado, data); summary(modelo_1)

Call:
lm(formula = ln_tempo_vida ~ idade + sexo + alcool_severo + alcool_moderado,
    data = data)

Residuals:
     Min       1Q   Median       3Q      Max
-0.98061 -0.27959 -0.04071  0.26834  1.02700

Coefficients:
                 Estimate Std. Error t value Pr(>|t|)
(Intercept)      6.956899   0.314901  22.092  < 2e-16 ***
idade           -0.004994   0.005638  -0.886  0.38011
sexo             0.248113   0.123322   2.012  0.04974 *
alcool_severo   -0.533359   0.184475  -2.891  0.00571 **
alcool_moderado -0.438230   0.167344  -2.619  0.01171 *
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.451 on 49 degrees of freedom
Multiple R-squared:  0.2216,	Adjusted R-squared:  0.1581
F-statistic: 3.488 on 4 and 49 DF,  p-value: 0.01388

In [6]:
modelo_2 = lm(ln_tempo_vida ~ idade + sexo, data); summary(modelo_2)
anova(modelo_2, modelo_1)

Call:
lm(formula = ln_tempo_vida ~ idade + sexo, data = data)

Residuals:
    Min      1Q  Median      3Q     Max
-1.0839 -0.2634 -0.0522  0.2195  1.3911

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept)  6.659192   0.319554  20.839   <2e-16 ***
idade       -0.006470   0.005951  -1.087   0.2821
sexo         0.227358   0.131506   1.729   0.0899 .
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.4818 on 51 degrees of freedom
Multiple R-squared:  0.07524,	Adjusted R-squared:  0.03897
F-statistic: 2.075 on 2 and 51 DF,  p-value: 0.1361

  Res.Df RSS       Df Sum of Sq F        Pr(>F)
1 51     11.841121 NA       NA        NA         NA
2 49      9.966843  2 1.874279  4.607259 0.01467361

Então ficamos com o modelo completo

In [9]:
modelo_3 = lm(ln_tempo_vida ~ idade + alcool_severo + alcool_moderado, data)
anova(modelo_3, modelo_1)

  Res.Df RSS       Df Sum of Sq F        Pr(>F)
1 50     10.790188 NA        NA       NA         NA
2 49      9.966843  1 0.8233454 4.047814 0.04974377

In [10]:
modelo_4 = lm(ln_tempo_vida ~ sexo + alcool_severo + alcool_moderado, data)
anova(modelo_4, modelo_1)

  Res.Df RSS       Df Sum of Sq F         Pr(>F)
1 50     10.126406 NA        NA        NA        NA
2 49      9.966843  1 0.1595629 0.7844591 0.3801069